<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Playlists - YouTube Playlist Scanner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="static/style.css" th:href="@{/style.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>


<nav class="navbar navbar-dark navbar-expand-lg navbar-light">
    <a class="navbar-brand">YouTube Playlist Scanner <span class="badge badge-secondary">Alpha 0.01v</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
        </ul>
        <div class="text mt-2 mt-md-0">
            <div class="navbar-text p-0" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-dark">LOGOUT</button>
                </form>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <form id="playlist" th:action="@{/playlistid}" th:object="${playlistId}" method="post">
        <div class="row">
            <div class="col py-sm-2">
                <label for="playlistId">Playlist ID</label><br/>
                <input type="text" id="playlistId" name="playlistId" class="form-control"/>
                <button type="submit" class="btn btn-dark">SUBMIT</button>
            </div>
        </div>
    </form>
    <form id="channel" th:action="@{/channelid}" th:object="${channelId}" method="post">
        <div class="row">
            <div class="col py-sm-2">
                <label for="channelId">Channel ID</label><br/>
                <input type="text" id="channelId" name="channelId" class="form-control"/>
                <button type="submit" class="btn btn-dark">SUBMIT</button>
            </div>
        </div>
    </form>
    <div class="jumbotron border border-dark">
        <div class="row">
                <div th:each="playlist,iter: ${playlists}" class="col">
                    <div class="card">
                        <img class="card-img-top" th:src="${playlist.getPlaylist_thumbnail()}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title"th:text="${playlist.getName()}"></p>
                            <hr class="my-4">
                            <a href="#" class="btn btn-primary">Check</a>
                            <a href="#" class="btn btn-primary">Delete</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</body>
</html>